* {
    font-size: 13px;
}

#header {
    background-color: #0a3a70;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    height: 70px;
}

ul,
ol {
    list-style: none;
}

.nav li a {
    background-color: #0a3a70;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

#name {
    margin-right: 20px;
    float: right;
    color: white;
}

#title {
    padding-bottom: 30px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#form {
    margin-left: 85px;
    height: 60%;
    width: 72%;
    font-family: 1em sans-serif;
    font-weight: bold;
    position: absolute;
    padding: 2%;
    padding-left: 3.2%;
    border: 1px ridge rgb(195, 205, 207);

}

#port {
    margin-left: 47%;
}

.elements {
    padding: 10px;
}

input {
    width: 42%;
    border: 1.8px ridge rgb(232, 245, 245);
    padding: 8px;
}

#port_input {
    margin-left: 49%;
    margin-top: -3.3%;
}

label {
    width: 45%;
}

textarea {
    border: 1.8px ridge rgb(33, 102, 180);
    width: 45%;
}

button {
    margin-right: 10px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-weight: bold;
}

#cancel {
    margin-right: 70px;
    margin-top: -1%;
    padding: 6px 20px;
    background-color: #fff;
    /* Green */
    color: rgb(113, 179, 218);
    border: 1px groove;
    font-size: 11px;
}

#update {
    background-color: rgb(38, 105, 206);
    /* Green */
    border: rgb(38, 105, 206);
    color: #fff;
    margin-right: 70px;
}

#reset {
    background-color: rgb(240, 236, 236);
    /* Green */
    color: black;
    border: 1px ridge lightgray;
}